@model LodgementModel
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lodgement Details</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12">
                            <h4>@Model.Description</h4>
                            <div class="post">
                                <div class="user-block">
                                    <i class="fas fa-user"></i>
                                    <span class="username">
                                        <a href="#">@Model.Surveyor.FirstName @Model.Surveyor.LastName</a>
                                    </span>
                                    <span class="description">Date Lodged - @Model.CreatedOn.ToLongDateString()</span>
                                </div>
                                <!-- /.user-block -->
                                @*<p>
                                        @Model.Description
                                    </p>*@

                                <ul class="list-unstyled">
                                    @if (!string.IsNullOrEmpty(Model.SchemePlanUrl))
                                    {
                                        <li>
                                            <a href="@Model.SchemePlanUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Scheme Plan</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.SurveyInstructionUrl))
                                    {
                                        <li>
                                            <a href="@Model.SurveyInstructionUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Survey Instruction</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.SurveyReportUrl))
                                    {
                                        <li>
                                            <a href="@Model.SurveyReportUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Survey Report</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.FieldNotesUrl))
                                    {
                                        <li>
                                            <a href="@Model.FieldNotesUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Field Notes</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.AreaCalculationSheetUrl))
                                    {
                                        <li>
                                            <a href="@Model.AreaCalculationSheetUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Area Calculation Sheet</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.CoordinateSheetUrl))
                                    {
                                        <li>
                                            <a href="@Model.CoordinateSheetUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Coordinate Sheet</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.CoordinateExemptionSheetUrl))
                                    {
                                        <li>
                                            <a href="@Model.CoordinateExemptionSheetUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Coordinate Exemption Sheet</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.CreekOffsetSheetUrl))
                                    {
                                        <li>
                                            <a href="@Model.CreekOffsetSheetUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Creek-offset Sheet</a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.CalibrationReportUrl))
                                    {
                                        <li>
                                            <a href="@Model.CalibrationReportUrl" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>Calibration Report</a>
                                        </li>
                                    }

                                </ul>

                            </div>

                            <div class="post clearfix">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                                    <span class="username">
                                        <a href="#">Sarah Ross</a>
                                    </span>
                                    <span class="description">Sent you a message - 3 days ago</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore.
                                </p>
                                <p>

                                </p>
                            </div>

                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                                    <span class="username">
                                        <a href="#">Jonathan Burke Jr.</a>
                                    </span>
                                    <span class="description">Shared publicly - 5 days ago</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore.
                                </p>

                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v1</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="document" class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-paint-brush"></i> AdminLTE v3</h3>
                    <p class="text-muted">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>

                    <br>
                    <div class="text-muted">
                        <p class="text-sm">
                            Client Company
                            <b class="d-block">Deveint Inc</b>
                        </p>
                        <p class="text-sm">
                            Project Leader
                            <b class="d-block">Tony Chicken</b>
                        </p>
                    </div>

                    <h5 class="mt-5 text-muted">Clearance Letters</h5>
                    <ul class="list-unstyled">
                        @foreach (var file in Model.UploadedClearanceLetters)
                        {
                            <li>
                                <a href="@file.Url" target="_blank" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> @file.Name</a>
                            </li>
                        }

                    </ul>
                    <div class="text-center mt-5 mb-3">
                        <a href="#" class="btn btn-sm btn-primary">Add files</a>
                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{
    <script>
    function ViewDocument(file, storage) {
        $("#loader").fadeIn();
        var data = {
            fileName: file,
            storagePath: storage
        };
        $.ajax({
            type: "POST",
            url: 'view-document',
            data: data,
            dataType: "text"
        }).done(function (data) {
            var folderName = file.replace(".", "_");
            $("#document").empty();
            for (var i = 1; i <= data; i++) {
                $("#document").append("<img src='content/" + folderName + "/page-" + i + ".png'/>");
            }
            $("#loader").fadeOut();
        })
    }
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            $("#loader").fadeOut(1000);
        });
    </script>
} 